.page-content {
    padding: 40px 0;
}

.page-content > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-content > ul > * {
    margin-bottom: 24px;
}

.page-content > ul > *:last-child {
    margin-bottom: 0;
}
