.progress {
    background-color: var(--bg-secondary);
    border-radius: 4px;
}

.progress .bar {
    border-radius: 4px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: var(--text-secondary);
    font-weight: bold;
    overflow: hidden;
}
